/*Colours*/

/*#47CC63; Green 
/*#1A3038; Grey

/*--------------------------------------------*/

* {
	padding: 0;
	margin: 0;
}

/* Font Contents */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Header Contents */

.head {
  height: 862px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url("../static-front-end-project/images/background-1.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
 }

.head-container {
  height: 862px;
  width: 940px;
  margin: 0 auto;
}

header {
  height: 62px;
  width: 100%; /*940px*/
  padding-top: 52px;
}

.span1 {
	color: #1A3038;
}

.span2 {
	color: #47CC63;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Nav Bar Contents   */

.nav-bar:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
  
html {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

    *, *:before, *:after {box-sizing: inherit;}

nav {
    width: 64rem;
  }
  
  .main-menu ul {
    background:transparent;
    padding: 0;
    margin: 0;
    position:flex;
    left: 10rem;
    top:10rem;
	text-align: center;
	z-index: 10;
	
  }
  
  .main-menu li {
    position: relative;
    list-style: none;
    width: 21rem;
	display: inline-block;
}
  
  .main-menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 25px 25px;
    color:black;
	font-weight:200;
	text-transform:uppercase;
	font-size:25px;
	font-family:'Bree Serif', serif;
  }
  
  ul.sub-menu {
    background:transparent;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    display: none;
  }
  
  ul.sub-menu li {
    float:none;
  }
  
  .main-menu li:hover {
    background:#47CC63;
  }
  
  .main-menu li:hover ul {
    display: block;
  }
  
  ul.sub-menu li:hover {
    background:#47CC63;
  }
 
.head-container img {
	height: 30px;
	width: 35px;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Logo */

/*.logo-v img {
	width: 150px;
	height: 150px; */
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Main - main-heading   */

.main-heading {
	height: 748px;
  	width: 940px;
}

.main-heading h1 {
	margin: 0;
  	padding-top: 242px;
  	font-family:'Bree Serif', serif;
  	font-size: 90px;
  	font-weight: bold;
  	text-align: center;
	z-index: 9;
}

.main-heading p {
	margin: 30px 0 0 0;
  	font-family:'Bree Serif', serif;
  	font-size: 35px;
  	font-weight: 400;
  	text-align: center;
}

.main-heading button {
	display: block;
  	margin: 40px auto 176px auto;
  	padding: 16px 72px;
  	border: 1px solid #000000;
  	outline: none;
  	font-family:'PT Serif', serif;
  	font-size: 22px;
  	font-weight: 700;
  	text-transform: uppercase;
  	background-color: transparent;
  	cursor: pointer;
	z-index: 1000;
}

.main-heading button:hover {
	background-color:#47CC63;
   	transition-delay: 0.3s;
}

.main-heading a {
	display: block;
  	width: 20px;
  	margin: 0 auto;
  	padding-bottom: 52px;
  	color: #000000;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / services-container   */

.services-container {
  /*height: 650px; 760*/
  max-width:940px;
  margin: 0 auto;

}

.h-p-group {
  width: 100%;
  margin-bottom: 87px;
}

.h-p-group h2,
.h-p-group p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.h-p-group h2 {
  margin: 0;
  padding-top: 50px; /*100*/
  font-weight: 700;
  font-size: 32px;
}

.h-p-group p {
  margin: 15px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.h-p-group button {
  display: block;
  margin: 40px auto 176px auto;
  padding: 16px 72px;
  border: 1px solid #000000;
  outline: none;
  font-family:'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.h-p-group button:hover {
  background-color:#47CC63;
  transition-delay: 0.3s;
}

.services-block {
  width: 100%;
}

.services-block-box {
 display: inline-block;
  /*width: 300px;*/
  width: 32%;
}

.marg-top {
  margin-top: 72px;
}

.services-block-box h3 {
  display: inline-block;
  margin: 0 0 15px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.services-block-box .fa {
  display: block;
  float: left;
}

.services-block-box .fa-usd,
.services-block-box .fa-bullseye {
  margin-right: 32px;
}

.services-block-box .fa-area-chart  {
  margin-right: 28px;
}

.services-block-box .fa-bar-chart {
  margin-right: 20px;
}

.services-block-box .fa-line-chart {
  margin-right: 24px;
}

.services-block-box .fa-ils {
  margin-right: 30px;
}

.services-block-box p {
  display: inline-block;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #adadad;
}

/*--------------------------------------------*/
/*--------------------------------------------*/





/*--------------------------------------------*/
/*--------------------------------------------*/

/* Media Queries   */

@media 



