@media screen and (max-width: 1683px) {
	
	.contents-overlay img {
		max-width: 100%;
		height: auto;
		padding: 10px;
	}
	
	.contents-overlay {
		display: block;
		position: relative;
		top: auto;
		left: 12rem;
	}
	
	.contents img {
		max-width: 200%;
		height: auto;
		padding: 10px;
	}
	
	header {
		display: block;
		max-width: 100%;
		height: auto;
		padding: 130px;
	}
	
	.container {
		padding: 50px;
	}
	
	.contents-block img {
		max-width: 100%;
		height: auto;
	}
	
	.contents-block {
		margin-top: 10rem;
	}
	
	.contents {
		padding: 20px;
	}

	.large {
		max-width: 1000px;
		height: auto;
	}
	
	.small {
		max-width: 100%;
		height: auto;
	}
	
	.services {
		display: block;
		margin-top: 210rem;
	}
	
	.context {
		max-width: 100%;
		height: auto;
	}
	

}





@media screen and (max-width: 816px) {
	
	.contents-overlay  {
		display: none;
	}
	
	.main-heading {
		padding: 30px;
		margin: 20px;
	}
	
	.contents img {
		max-width: 100%;
		height: auto;
		padding: 10px;
	}

	header {
		margin: 10px;
		padding: 30px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.container {
		padding: 50px;
	}

	
	.nav-links li {
		display: block;
		margin: 50px 0px;
	}
	
	.green-grey { 
		display: block;
		margin: 20px 0px;
	}
	
	.contents-block img {
		max-width: 100%;
		height: auto;
	}
	
	.contents-block {
		margin-top: 20rem;
		column-gap: 0px;
	}
	
	.midpoint {
		text-align: center;
	}
	
	.banner {
		max-height: auto;
		width: auto;
		
	}
	
	.contents {
		padding: 10px;
	}
	
	.large {
		max-width: 1000px;
		height: auto;
	}
	
	.small {
		max-width: 100%;
		height: auto;
	}
	
	#services {
		display: block;
		margin-top: 230rem;
	}
	
	.context {
		max-width: 100%;
		height: auto;
	}
	
	#data-image-2 {
		position: relative;
		left: 60px;
	}
	
	#values {
		display: block;
		
	}
	
	.cover {
	flex-wrap: wrap;
}
	
	#footer {
		height: auto;
		display: block;
	}
	
	
}
