@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic&family=Bakbak+One&family=Bebas+Neue&family=Calistoga&family=Oleo+Script&family=Oswald:wght@300&family=Press+Start+2P&family=Roboto&family=Rock+Salt&family=UnifrakturMaguntia&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Oswald', sans-serif;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Section - Header Contents */

header { 
	/*min-height: 300px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: black;
	border: 4px solid #7ED957;
	/*margin: 40px;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#header-logo {
	height:150px;
	margin-right: auto;
}

#header-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links a {
	font-family: 'Oswald', sans-serif;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	text-transform: uppercase;
	font-size: clamp(1.4rem, 2vw, 1.8rem);  
	color: lightgray;
}

.nav-links a:hover {
	color: #7ED957;
	transition-delay: 0.5s;
	
}

button {
	margin-left: 20px;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
}

button:hover {
	cursor: pointer;
	background-color:#1A3038;
	color: white;
	transition-delay: 0.5s;
	transform: scale(1.2);
}
/*--------------------------------------------*/
/*--------------------------------------------*/


/* Main - main-heading Contents  */

.main-heading {
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*background-image: url("../images/background-1.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	/*border: 1px solid red;*/
}

.main-heading {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-heading h1 {
	align-content: center;
  	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
  	/*font-size: clamp(150px, 50px + 8vw,  180px);*/
	font-size: 80px;
  	font-weight: 1000;
	/*letter-spacing: 1px;*/
}

.main-heading p {
	color: #2980b9;
  	font-family: 'Oswald', sans-serif;
  	font-size: 35px;
  	font-weight: bold;
  	text-align: center;
	text-transform: uppercase;
}

.main-heading button {
	margin-top: 80px;
	height: 60px;
	width: 200px;
	border-radius: 50px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	
}

.main-heading button:hover {
	cursor: pointer;
	background-color:#1A3038;
	color: white;
	transition-delay: 0.5s;
	transform: scale(1.2);
}

.span1 {
	color: #1A3038;
}

.span2 {
	color: #7ED957;
}	
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Main image intro */

.main-image-intro {
	height: 700px;
}

.main-image-intro-b {
	display: flex;
	justify-content: center;
	color: aqua;
	height: 500px;
	margin: 40px 0px;
	background-color: #1A3038;
}

.main-image-intro-b img {
	height: 600px;
	box-shadow: 60px 90px #7ED957;
}

.main-image-intro-c {
	display: flex;
	justify-content: center;
}

.main-image-intro-c p {
	font-size: 18px;
	font-weight: bolder;
	text-transform: uppercase;
}


.mi-c1 {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 20px;
	border: 10px solid white;

}

.mi-c2 {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 20px;
	border: 10px solid white;
}

.mi-c3 {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 20px;
	border: 10px solid white;
}
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / services-Contents   */

#about-contents {
		margin-top: 12rem;
}

.services-container {
  	/*height: 650px; 760*/
	height: 2000px;
  	/*margin: 40px;*/
  	/*border: 1px solid black;*/
}

.sc-group {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sc-group {
	background: -webkit-linear-gradient(#FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%);
	background: -o-linear-gradient(#FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%);
	background: linear-gradient(#FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%);
}

.sc-group h2 {
	font-weight: bold;
	font-size: 45px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.sc-group p {
	font-weight: 450;
	font-size: 20px;
	width: 400px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.more-btn {
	background-color: white;
	color: #7ED957;
	border: 1px solid #1A3038;
}

.more-btn:hover {
	cursor: pointer;
	background-color:#1A3038;
	color: white;
	transition-delay: 0.5s;
	transform: scale(1.2);
	border: 1px solid white;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

.services-block {
	flex-wrap: wrap;
  	display: flex;
  	justify-content:center;
  	flex-direction: row;
  	/*margin: 50px 0px;*/
  	column-gap: 55px;
	/*border: 1px solid red;*/
	z-index: -9;
	background-color: #7ED957;
  }

.services-block2 {
	flex-wrap: wrap;
  	display: flex;
  	justify-content:center;
  	flex-direction: row;
  	/*margin: 50px 0px;*/
  	column-gap: 55px;
	/*border: 1px solid red;*/
	background-color: #7ED957;
  }

.services-block3 {
	flex-wrap: wrap;
  	display: flex;
  	justify-content:center;
  	flex-direction: row;
  	/*margin: 50px 0px;*/
  	column-gap: 55px;
	/*border: 1px solid red;*/
	background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%);
	background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%);
	background: linear-gradient(to top, #FFFFFF, #FFFFFF 0%, #7ED957 100%, #7ED957 100%)	;
	z-index: -9;
  }

.services-block h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px double #9FE4A5;
	z-index: 5;
}

.services-block2 h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px double #9FE4A5;
	z-index: 5;
}

.services-block3 h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px double #9FE4A5;
	z-index: 5;
}

.services-block p {
 	font-family: 'Roboto', sans-serif;
 	font-size: 22px;
	text-align: center;
	z-index: 5;
}

.services-block2 p {
 	font-family: 'Roboto', sans-serif;
 	font-size: 22px;
	text-align: center;
	z-index: 5;
}

.services-block3 p {
 	font-family: 'Roboto', sans-serif;
 	font-size: 22px;
	text-align: center;
	z-index: 5;
}

.price-action,
.fibs,
.supply-demand,
.market-structure,
.candles,
.indicators {
	padding: 40px;
	margin: 40px;
	width: 400px;
	height: 600px;
	border-radius: 10px;
	color: black;
	box-shadow: 0px 0px 20px black;
	z-index: 5;
}

.fibs {
	/*background-image: url("../images/fibs-bg.jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-left: 4px double black;
	width: 1000px ;
	z-index: 5;
}

.fibs:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
}

.price-action {
	/*background-image: url("../images/price-bg (1).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-right: 4px double #7ED957;
	z-index: 5;
}

.price-action:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
}

.supply-demand {
	/*background-image: url("../images/price-bg (2).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-left: 4px double black;
	width: 1000px;
	z-index: 5;
}

.supply-demand img {
	width: 750px;
	height: 450px;
	z-index: 5;
}

.supply-demand:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
}

.market-structure {
	/*background-image: url("../images/price-bg (3).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-right: 4px double #7ED957;
	z-index: 5;
}

.market-structure:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
}

.candles {
	/*background-image: url("../images/price-bg (4).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-right: 4px double #7ED957;
	z-index: 5;
}

.candles:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
}

.indicators {
	/*background-image: url("../images/price-bg (5).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	border-left: 4px double black;
	width: 1000px;
	z-index: 5;
}

.indicators:hover {
	transition-delay: 0.7s;
	transform: scale(1.1);
	cursor: pointer;
	z-index: 5;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / Pricing */

.pricing-container {
	/*height: 750px; 850*/
	margin-top: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
  	/*border: 1px solid red;*/
	background-image: url("../images/mclass-bkgrnd2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -9;
  }

.pc-group {
	margin: 40px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pc-group h2 {
	font-size: 45px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	color: black;
	z-index: 5;
}

.pc-group p {
	font-family: 'Oswald', sans-serif;
  	font-size: 30px;
  	text-align: center;
	color: black;
	z-index: 5;
}

.price-cards {
	margin: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	/*border: 1px solid green;*/
}

.trading-mc,
.mindset-mc,
.candle-mc {
	padding: 40px;
	margin: 50px;
	width: 500px;
	height: 800px;
	flex-wrap: wrap;
	/*border: 1px solid purple;*/
}

.trading-mc {
	background-color: white;
	background-image: url("../images/mindset.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 30px 60px -5px #000;
}

.trading-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.trading-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.trading-mc p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
}

.trading-mc strong {
	font-size: 30px;
}

.mindset-mc {
	background-color: white;
	background-image: url("../images/mastery.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 30px 60px -5px #000;
}

.mindset-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.mindset-mc h3{
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.mindset-mc p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
}

.mindset-mc strong {
	font-size: 30px;
}

.candle-mc {
	background-color: white;
	background-image: url("../images/candle-1.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 30px 60px -5px #000;
}

.candle-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.candle-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.candle-mc p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 18px;
}

.candle-mc strong {
	font-size: 30px;
}

.pc-button {
	margin-left: 120px;
}

.candle-download {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
	/*border: 1px solid black;*/
}

.candle-download button {
	width: 250px;
	height: 50px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

#masterclass {
	/*margin-top: 5rem;*/
	background-color: white;
}

.mch1-group {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}


.mch1-group h2 {
	font-weight: bolder;
	font-size: 45px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.mch1-group p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.data-container-mc {
	/*border: 1px solid black;*/
	margin: 40px;
	flex-wrap: wrap;
}

.data-container-mc {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.h-p-group {
	padding: 10px 50px 20px;
	margin: 40px;
	width: 500px;
	height: 300px;
	/*border: 1px solid purple;*/
}

.h-p-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	border-bottom: 3px double #9FE4A5;
	text-align: center;
}

.h-p-group p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.h-p-image {
	/*border: 1px solid blue;*/
	margin: 40px;
	display: flex;
	justify-content:center;
	width: 450px;
	height: 450px;
	padding: 10px 50px 20px;
}

.t-b-group {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.t-b-group {
	background: linear-gradient(to right, #7ED957, #7ED957 50%, #1A3038 50%, #1A3038 100%);
	max-height:100px;
	z-index: -9;
}

.t-b-group {
	box-shadow: 0px 40px #E5E5E5;
}


.t-b-group h2 {
	font-weight: bolder;
	font-size: 45px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align:end;
	z-index: 5;
	padding: 10px;
	color: white;
}

.t-b-group p {
	width: 500px;
	margin: 20px;
	padding: 20px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: white;
	z-index: 5;
}

.tbg1 {
	border: 2px solid #7ED957;
}

.tbg2 {
	border: 2px solid #1A3038;
}

.team-mentors {
	margin-top: 8rem;
	display: flex ;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.team-block .pro {
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	margin:10px;
}

.team-block .img-1 {
	display: flex;
	justify-content: center;
}

.team-block {
	padding: 20px;
	margin: 40px;
	width:380px;
	height: 700px;
}

.team-block {
	background: linear-gradient(to bottom, #7ED957, #7ED957 25%, #6B6B6B 25%, #6B6B6B 100%);
}

.team-block:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
	z-index: 9;
}

.mentor-1 {
	height: 200px;
}

.mentor-2 {
	height: 180px;
}


.team-block h4 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	color: white;
}

.team-blockh2 span {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #2980b9;
}

.team-block h5 {
	ont-weight: bold;
	font-size: 20px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: start;
}

.team-block p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.team-block ul {
	display: flex;
	justify-content: center;
}

.team-block li {
	display: inline-block;
	list-style: none;
	margin: 10px;
}



.fa-facebook {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 25px 20px;
}

.fa-facebook:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

.fa-twitter {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 20px 20px;
}

.fa-twitter:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

.fa-linkedin {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 20px 20px;
}

.fa-linkedin:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Data container / Why */

.data-container {
	/*border: 1px solid red;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.data-container {
	background: linear-gradient(to bottom, #FFFFFF, #FFFFFF 10%, #6B6B6B 75%, #6B6B6B 100%);
}

.d-c-group {
	margin: 40px;
	/*border: 1px solid blue;*/
	display: flex; 
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

.d-c-group {
	background-image: url("../images/vector-light2.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.d-c-group h2 {
	font-weight: bold;
	font-size: 45px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
}
	
.d-c-group p {
	width: 500px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 40px;
	padding: 10px;
	border-bottom: 3px double #9FE4A5;
}

.d-c-group2 {
	margin: 40px;
	/*border: 1px solid red;*/
	display: flex; 
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

.customer-quote {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 40px;
	padding: 30px;
	background-color: white;
	box-shadow: 10px 20px #7ED957;
	border-radius: 10px;
	border: 1px solid black;
	/*border: 1px solid red;*/
}

.customer-quote span {
	color: black;
	font-size: 60px;
}

.customer-quote p {
	border-bottom: 4px double #7ED957;
}
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Feedback container / Contact form   */

#contact {
		
}

.feedback-container {
    background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF 10%, #6B6B6B 75%, #6B6B6B 100%);
    background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF 10%, #6B6B6B 75%, #6B6B6B 100%);
    background: linear-gradient(to top, #FFFFFF, #FFFFFF 10%, #6B6B6B 75%, #6B6B6B 100%);
}


.f-b-group {
	display: grid;
	align-items: center;
}

.f-b-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	justify-content: center;
}

form {
	/*background-color: #50E116;*/
	
	margin: 40px;
	width: 700px;
	display: flex;
	flex-direction: column;
	align-content: center;
	box-shadow: 0px 30px 60px -5px #000;
	background: linear-gradient(grey, #979797, #494949,#777777);
}
.contact-form {
	display: flex;
	justify-content: center;
	/*background: linear-gradient(grey, #979797, #494949,#777777);*/
}

.contact-form img {
	height: 100px;
	color: black;
}

.contact-form form {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 800px;
}

.contact-form input {
	margin: 20px auto;
	width: 600px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
}

input {
	background-color: #AFAFAF;
}

.contact-form span {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #434343;
}

.contact-form textarea {
	margin: 20px auto;
	width: 600px;
	height: 300px;
	text-align:center;
	border-radius: 50px;
	background-color: #AFAFAF;
}

.submit-button {
	background-color: #7ED957;
	border: 1px solid #7ED957;
}

.submit-button:hover {
	cursor: pointer ;
	background-color: #7ED957;
	color: black;
	transition-delay: 0.5s;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Footer Contents   */

footer {
	/*max-width: 2300px;*/
	min-height: 200px;
	background-color: black;
	height: 200px;
	display: flex;
	justify-content: space-between;
	/*margin: 40px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 4px solid #7ED957; 
	/*border: 1px solid purple;*/
}

.footer-cnts {
	/*margin-top: 200px;
	/*border: 1px solid black;*/
}

.footer-cnts h3 {
	color: white;
	padding: 40px;
	margin: 40px;
	font-weight: bold;
	font-size: 14px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	letter-spacing: 2px;
	width: 400px;
	text-align: center;
}

.footer-links {
	padding: 40px;
	margin: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*border: 1px solid red;*/
}

.footer-links h6 {
	color: white;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
}

.footer-links li {
	display: inline-block;
	list-style: none;
	margin: 0px 50px;
}

.footer-logo {
	padding: 10px;
	margin: 40px;
	/*border: 1px solid red;*/
}

.footer-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
}

.fa-arrow-up {
	color: #7ED957;
	font-size: 60px;
	padding: 30px;
	margin: 40px;
	height: 120px;
}

.fa-arrow-up:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
}

.copyright {
	text-align: center;
	position: relative;
	top: 60px;
	left: 180px;
	color: #7ED957;
	margin: 50px;
	padding: 40px;
	width: 1000px;
	/*border: 1px solid red;*/
}

.copyright-link {
	color: #7ED957;
	text-decoration: none;
}

.twt {
	height: 60px;
}

.trv {
	border-radius: 25%;
	height: 60px;
}

.twt:hover {
	transform: scale(1.5);
	transition-delay: 0.5s;
}

.trv:hover {
	transform: scale(1.5);
	transition-delay: 0.5s;
}
/*--------------------------------------------*/
/*--------------------------------------------*/
	
/*Media Queries*/
/*
@media (min-width:2300px > 1500px){
	header {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#header-logo {
		float:inherit; 
	}
	
}

@media (min-width:2300px > 600px){
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#header-logo {
		float:inherit; 
	}
}
*/