@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=UnifrakturMaguntia&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {

	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Section - Header Contents */

header {
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: black;
	border-bottom: 4px solid #7ED957;
	margin: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#header-logo {
	height: 150px;
	margin-right: auto;
}

#header-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links a {
	font-family: 'Oswald', sans-serif;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	color: lightgray;
}

.nav-links a:hover {
	color: #7ED957;
	transition-delay: 0.5s;
	
}

button {
	margin-left: 20px;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
}

button:hover {
	cursor: pointer;
	background-color:lawngreen;
	color: black;
	transition-delay: 0.5s;
	transform: scale(1.2);
}
/*--------------------------------------------*/
/*--------------------------------------------*/


/* Main - main-heading Contents  */

.main-heading {
	height: 700px;
	/*background-image: url("../images/background-1.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	margin: 40px;
}

.main-heading {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-heading h1 {
  	font-family: 'UnifrakturMaguntia', cursive;
  	font-size: 200px;
  	font-weight: bolder;
	letter-spacing: 5px;
}

.main-heading p {

  	font-family: 'Oswald', sans-serif;
  	font-size: 35px;
  	font-weight: bold;
  	text-align: center;
}

.main-heading button {
	margin-top: 80px;
	height: 60px;
	width: 200px;
	border-radius: 50px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	
}

.main-heading button:hover {
	cursor: pointer;
	background-color:lawngreen;
	color: black;
	transition-delay: 0.5s;
	transform: scale(1.2);
}

.span1 {
	color: #1A3038;
}

.span2 {
	color: #7ED957;
}	
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / services-Contents   */

.services-container {
  /*height: 650px; 760*/
  height: 2000px;
  margin: 40px;
  /*border: 1px solid black;*/
}

.sc-group {
  flex-wrap: wrap;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sc-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.sc-group p {
	font-size: 20px;
	width: 400px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

/*--------------------------------------------*/
/*--------------------------------------------*/


.services-block {
	flex-wrap: wrap;
  	display: flex;
  	justify-content:center;
  	flex-direction: row;
  	margin: 50px 50px; 
  	column-gap: 55px;
	/*border: 1px solid red;*/
  }

.services-block h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px double #9FE4A5;
}

.services-block p {
 	font-family: 'Oswald', sans-serif;
 	font-size: 22px;
	text-align: center;
}

.price-action,
.fibs,
.supply-demand,
.market-structure,
.candles,
.indicators {
	padding: 40px;
	margin: 40px;
	width: 400px;
	height: 600px;
	border-radius: 10px;
	color: whitesmoke;
	box-shadow: 0px 0px 20px black;
}

.fibs {
	background-image: url("../images/fibs-bg.jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.fibs:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.price-action {
	background-image: url("../images/price-bg (1).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.price-action:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.supply-demand {
	background-image: url("../images/price-bg (2).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.supply-demand:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.market-structure {
	background-image: url("../images/price-bg (3).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.market-structure:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.candles {
	background-image: url("../images/price-bg (4).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.candles:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.indicators {
	background-image: url("../images/price-bg (5).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.indicators:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / Pricing */

#services {
	margin-top: 40rem;
}

.pricing-container {
	/*height: 750px; 850*/
	margin-top: 10rem;
	flex-wrap: wrap;
  	/*border: 1px solid red;*/
  }

.pc-group {
	margin: 40px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pc-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.pc-group p {
	font-family: 'Oswald', sans-serif;
  	font-size: 35px;
  	text-align: center;
}

.price-cards {
	margin: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	/*border: 1px solid green;*/
}

.trading-mc,
.mindset-mc,
.candle-mc {
	padding: 40px;
	margin: 50px;
	width: 500px;
	height: 700px;
	flex-wrap: wrap;
	/*border: 1px solid purple;*/
}

.trading-mc {
	background-color: #E7E7E7;
	background-image: url("../images/mindset.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.trading-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.trading-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.trading-mc p {
	text-align: center;
	font-size: 18px;
}

.trading-mc strong {
	font-size: 30px;
}

.mindset-mc {
	background-color: #E7E7E7;
	background-image: url("../images/mastery.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.mindset-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.mindset-mc h3{
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.mindset-mc p {
	text-align: center;
	font-size: 18px;
}

.mindset-mc strong {
	font-size: 30px;
}

.candle-mc {
	background-color: #E7E7E7;
	background-image: url("../images/candle.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.candle-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.candle-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.candle-mc p {
	text-align: center;
	font-size: 18px;
}

.candle-mc strong {
	font-size: 30px;
}

.pc-button {
	margin-left: 120px;
}

.candle-download {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
	/*border: 1px solid black;*/
}

.candle-download button {
	width: 250px;
	height: 50px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

#masterclass {
	margin-top: 10rem;
}

.mch1-group {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	/*border: 1px solid black;*/
	margin: 40px;
}

.mch1-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.mch1-group p {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.data-container-mc {
	/*border: 1px solid black;*/
	margin: 40px;
	flex-wrap: wrap;
}

.data-container-mc {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.h-p-group {
	padding: 10px 50px 20px;
	margin: 40px;
	width: 500px;
	height: 300px;
	/*border: 1px solid purple;*/
}

.h-p-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	border-bottom: 3px double #9FE4A5;
	text-align: center;
}

.h-p-group p {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.h-p-image {
	/*border: 1px solid blue;*/
	margin: 40px;
	display: flex;
	justify-content:center;
	width: 300px;
	height: 300px;
	padding: 10px 50px 20px;
}

.team-block-container {
	/*border: 1px solid red;*/
	margin: 40px;
}

.team-block-contents {
	/*border: 1px solid purple;*/
	margin: 40px;
}

.t-b-group {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	align-content: center;
	/*border: 1px solid green;*/
}

.t-b-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	border-bottom: 3px double #9FE4A5;
	text-align: center;
}

.t-b-group p {
	width: 500px;
	margin: 20px;
	padding: 20px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.team-mentors {
	/*border: 1px solid purple;*/
	margin: 40px;
	display: flex ;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.team-block {
	/*border: 1px solid green;*/
	margin: 20px;
}

.team-block img {
	align-content: center;
}

.team-block h4 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
}

.team-block h5 {
	ont-weight: bold;
	font-size: 20px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
}

.team-block li {
	display: inline-block;
	list-style: none;
	margin: 10px 70px;
}

.team-block li a {
	align-content: center;
}

.fa-facebook {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 25px 20px;
}

.fa-facebook:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

.fa-twitter {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 20px 20px;
}

.fa-twitter:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

.fa-linkedin {
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	border-radius: 10px;
	padding: 20px 20px 20px;
}

.fa-linkedin:hover {
	color: #0200FD;
	cursor: pointer;
	background-color: #25DBF9;
	border: 1px solid #25DBF9;
	animation-delay: 0.5s;
	transform: scale(1.2);
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Data container / Why */



/*--------------------------------------------*/
/*--------------------------------------------*/

.data-container {
	margin: 40px;
	/*border: 1px solid red;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.d-c-group {
	margin: 40px;
	/*border: 1px solid blue;*/
	display: flex; 
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

.d-c-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}
	
.d-c-group p {
	width: 500px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 40px;
	padding: 10px;
}

.d-c-group2 {
	margin: 40px;
	/*border: 1px solid red;*/
	display: flex; 
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

.customer-quote {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 40px;
	padding: 30px;
	/*border: 1px solid red;*/
}

.customer-quote span {
	color: black;
	font-size: 60px;
}
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Feedback container / Contact form   */

.feedback-container {
	/*border: 1px solid red;*/
	margin: 40px;
	height: 800px;
}

.f-b-group {
	margin: 40px;
	display: grid;
	align-items: center;
}

.f-b-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
}
form {
	background-color: black;
	background: linear-gradient(black, #47CC63, #91E5B4,black);
	margin: 40px;
	width: 800px;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.contact-form {
	display: flex;
	justify-content: center;
}

.contact-form img {
	height: 100px;
	color: black;
}

.contact-form form {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50px;
	height: 700px;
}

.contact-form input {
	margin: 20px auto;
	width: 600px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
}

.contact-form textarea {
	margin: 20px auto;
	width: 600px;
	height: 300px;
	text-align:center;
	border-radius: 10px;
	background-color: white;
}

.submit-button {
	background-color: #7ED957;
	border: 1px solid #7ED957;
}

.submit-button:hover {
	cursor: pointer ;
	background-color: #7ED957;
	color: black;
	transition-delay: 0.5s;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Footer Contents   */

footer {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
}

#footer-logo {
	height: 120px;
	margin-right: auto;
	padding: 0px 20px;
}

#footer-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.foot-list {
	border-top: 4px solid #7ED957; 
	margin: 40px ;
	background-color: black;
	height: 200px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-h3 {
	align-content: center;
}

.footer-h3 h3 {
	color: white;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-links li p {
	font-size: 18px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
	







/* Up Button   */


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Media Queries Contents   */

@media 



