@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=UnifrakturMaguntia&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {

	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Section - Header Contents */

header {
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
	background-color: black;
	border-bottom: 4px solid #7ED957;
	margin: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#header-logo {
	height: 150px;
	margin-right: auto;
}

#header-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links a {
	font-family: 'Oswald', sans-serif;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	color: lightgray;
}

.nav-links a:hover {
	color: #7ED957;
	transition-delay: 0.5s;
	
}

button {
	margin-left: 20px;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
}

button:hover {
	cursor: pointer;
	background-color:lawngreen;
	color: black;
	transition-delay: 0.5s;
	transform: scale(1.2);
}
/*--------------------------------------------*/
/*--------------------------------------------*/


/* Main - main-heading Contents  */

.main-heading {
	height: 700px;
	/*background-image: url("../images/background-1.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	margin: 40px;
}

.main-heading {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-heading h1 {
  	font-family: 'UnifrakturMaguntia', cursive;
  	font-size: 200px;
  	font-weight: bolder;
	letter-spacing: 5px;
}

.main-heading p {

  	font-family: 'Oswald', sans-serif;
  	font-size: 35px;
  	font-weight: bold;
  	text-align: center;
}

.main-heading button {
	margin-top: 80px;
	height: 60px;
	width: 200px;
	border-radius: 50px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	background-color: #7ED957;
	border: 1px solid #7ED957;
	
}

.main-heading button:hover {
	cursor: pointer;
	background-color:lawngreen;
	color: black;
	transition-delay: 0.5s;
	transform: scale(1.2);
}

.span1 {
	color: #1A3038;
}

.span2 {
	color: #7ED957;
}	
/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / services-Contents   */

.services-container {
  /*height: 650px; 760*/
  height: 2000px;
  margin: 40px;
}

.sc-group {
  flex-wrap: wrap;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sc-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.sc-group p {
	font-size: 20px;
	width: 400px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

/*--------------------------------------------*/
/*--------------------------------------------*/


.services-block {
	flex-wrap: wrap;
  	display: flex;
  	justify-content:center;
  	flex-direction: row;
  	margin: 50px 50px; 
  	column-gap: 55px;
  }

.services-block h3 {
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px double #9FE4A5;
}

.services-block p {
 	font-family: 'Oswald', sans-serif;
 	font-size: 22px;
	text-align: center;
}

.price-action,
.fibs,
.supply-demand,
.market-structure,
.candles,
.indicators {
	padding: 10px 50px 10px;
	width: 300px;
	height: 450px;
	border-radius: 10px;
	color: whitesmoke;
	box-shadow: 0px 0px 20px black;
}

.fibs {
	background-image: url("../images/fibs-bg.jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.fibs:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.price-action {
	background-image: url("../images/price-bg (1).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.price-action:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.supply-demand {
	background-image: url("../images/price-bg (2).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.supply-demand:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.market-structure {
	background-image: url("../images/price-bg (3).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.market-structure:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.candles {
	background-image: url("../images/price-bg (4).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.candles:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.indicators {
	background-image: url("../images/price-bg (5).jpeg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.indicators:hover {
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Services / Pricing */

.pricing-container {
	/*height: 750px; 850*/
	margin-top: 10rem;
  	/*border: 1px solid red;*/
  }

.pc-group {
	margin: 40px;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pc-group h2 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
}

.pc-group p {
	font-family: 'Oswald', sans-serif;
  	font-size: 35px;
  	text-align: center;
}

.price-cards {
	margin: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	/*border: 1px solid green;*/
}

.trading-mc,
.mindset-mc,
.candle-mc {
	padding: 40px;
	margin: 50px;
	width: 500px;
	height: 700px;
	/*border: 1px solid purple;*/
}

.trading-mc {
	background-color: #E7E7E7;
	background-image: url("../images/mindset.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.trading-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.trading-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.trading-mc p {
	text-align: center;
	font-size: 18px;
}

.trading-mc strong {
	font-size: 30px;
}

.mindset-mc {
	background-color: #E7E7E7;
	background-image: url("../images/mastery.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.mindset-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.mindset-mc h3{
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.mindset-mc p {
	text-align: center;
	font-size: 18px;
}

.mindset-mc strong {
	font-size: 30px;
}

.candle-mc {
	background-color: #E7E7E7;
	background-image: url("../images/candle.png");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
}

.candle-mc:hover {
	transition-delay: 0.7s;
	transform: scale(1.2);
	cursor: pointer;
}

.candle-mc h3 {
	font-weight: bold;
	font-size: 35px;
  	font-family: 'Oswald', sans-serif;
  	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px double #9FE4A5;
}

.candle-mc p {
	text-align: center;
	font-size: 18px;
}

.candle-mc strong {
	font-size: 30px;
}

.pc-button {
	margin-left: 120px;
}

.candle-download {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
	/*border: 1px solid black;*/
}

.candle-download button {
	width: 250px;
	height: 50px;
}

/*
.price-block {
  display: inline-block;
  width: 32%;
  margin-bottom: 70px;
 
}

.price-block h3 {
  margin: 25px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.price-block p:nth-child(3) {
  margin: 0 0 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #adadad;
  text-align: center;
}

.price-block button {
  display: block;
  height: 47px;
  width: 141px;
  margin: 30px auto 0 auto;
  border: 1px solid #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
	
  background-color: #4D4D4D;
  background-image: 
    linear-gradient(
      167deg, 
      rgba(white, 0.1) 50%, 
      rgba(black, 0) 55%),
    linear-gradient(
      top, 
      rgba(white, 0.15), 
      rgba(black, 0));
  border-radius: 6px;
  box-shadow:
    0 0 0 1px #4D4D4D inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 8px 0 0 #AD3002,
    0 8px 0 1px rgba(black, 0.4),
    0 8px 8px 1px rgba(black, 0.5);
  color: #FFF;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
   height: 61px
	

}

.price-block button:hover {
  background-color:#47CC63;
  transition-delay: 0.3s;
}

.m-class-logo {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	
}

.m-class-logo1 {
	width: 75px;
	height: 75px;
	
}

 .m-set-logo {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	
}

.m-set-logo1 {
	width: 75px;
	height: 75px;
	
}

.c-mster-logo1 {
	width: 140px;
	height: 140px;
	border: 1px solid black;
}

.c-mster-logo2 {
	width: 75px;
	height: 75px;
}

.candle-download button {
  display: block;
  margin: 40px auto 176px auto;
  padding: 16px 72px;
  border: 1px solid black;
  outline: none;
  font-family:'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
	
  background-color: #4D4D4D;
  background-image: 
    linear-gradient(
      167deg, 
      rgba(white, 0.1) 50%, 
      rgba(black, 0) 55%),
    linear-gradient(
      top, 
      rgba(white, 0.15), 
      rgba(black, 0));
   border-radius: 6px;
   box-shadow:
    0 0 0 1px #4D4D4D inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 8px 0 0 #AD3002,
    0 8px 0 1px rgba(black, 0.4),
    0 8px 8px 1px rgba(black, 0.5);
   color: #FFF;
   font-family: "Lucida Grande", Arial, sans-serif;
   font-size: 22px;
   font-weight: bold;
   height: 61px
	
	
}

.candle-download button:hover {
 	background-color:#47CC63;
    transition-delay: 0.3s;
}

.price-block img {
  display: block;
  margin: 10px auto;
}

.left-block p:nth-child(4) {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.center-block p:nth-child(4),
.right-block p:nth-child(4) {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.left-block p:nth-child(6) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #adadad;
  text-align: center;
}

.center-block p:nth-child(6),
.right-block p:nth-child(6) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #adadad;
  text-align: center;
}

p.fa-usd {
  margin-left: 55px;
}

p.fa-usd {
  margin-left: 45px;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Data container / masterclass contents   */

/*.data-container-mc {
  /*height: 800px; 900*/
 /* width: 940px;
  margin: 0 auto;
  /*border: 1px solid purple;*/
}




/*--------------------------------------------*/
/*--------------------------------------------*/

/* Data container / Team / Mentors   */

/*.team-block-container {
	  /*height: 800px; 900*/
/*  width: 940px;
  margin: 0 auto;
  /*border: 1px solid blue;*/
}

/*.team-block {
  display:inline;
  width: 24%;
  margin-bottom: 80px;
}

.team-block img {
  display: block;
  margin: 0 auto;
}

.team-block h4,
.team-block h5,
.team-block p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.team-block h5,
.team-block p {
  font-weight: 400;
}

.team-block h4 {
  font-size: 28px;
  font-weight: 400;
  margin: 40px 0 10px 0;
  
}

.team-block h5 {
  margin: 0;
  margin: 0 0 15px 0;
  font-size: 18px;
  color: #00aced;
}

.team-block p {
  margin: 0 0 12px 0;
  font-size: 14px;
  color: black;
}

.team-block ul {
  display: block;
  padding: 0;
  text-align: center;
}

.team-block ul li {
  display: inline-block;
}

.team-block a {
  margin-right: 12px;
  color: #000000;
}

.team-block .fa-facebook:hover {
  color: #3b5998;
}

.team-block .fa-twitter:hover {
  color: #00aced;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.mentor-1 {
	height: 200px;
	width: 200px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/


/* VTS Why? */

/*.data-container {
  /*height: 800px; 900*/
/*  width: 940px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}


/* Quote Section*/

/*.customer-quote {
  position: relative;
  height: 180px;
  /*width: 624px;*/
/*  width: 60%;
  margin: 25px auto 0 auto;

}

.fa-quote-left,
.fa-quote-right {
  color:black;
}

.fa-quote-right {
  position: absolute;
  bottom: 60%;
  left: 95%;
  color:black;
}

.fa-quote-left {
  position: absolute;
  top: 10%;
}

blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #adadad;
  text-align: center;
  color: #00aced;
}


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Feedback container / Contact form   */
/*
.feedback-container {
  /*height: 950px; 990*/
 /* width: 940px;
  margin: 0 auto;
  /*border: 1px solid orange;*/
}

/*.contact-form {
  padding-bottom: 50px;
  width: 100%;
}

.contact-form form {
  margin: 0 auto;
}

.contact-form input,
.textarea-positioning textarea {
  display: block;
  outline: none;
}

.textarea-positioning {
  /*width: 456px;*/
/*  width: 50%;
  margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email], 
.textarea-positioning textarea {
  border: 1px solid #000000;
}

.textarea-positioning textarea {
  height: 179px;
  /*width: 456px;*/
 /* width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
  box-sizing: border-box;
}

.contact-form input[type=email],
.contact-form input[type=text] {
  height: 51px;
  /*width: 456px;*/
 /* width: 50%;
  margin: 0 auto 24px auto;
  padding-left: 20px;
  box-sizing: border-box;
}

.contact-form input[type=submit] {
  height: 53px;
  /*width: 170px;*/
 /* width: 20%;
  margin: 26px auto 0 auto;
  border:1px solid black;
  font-weight: 700;
  color:black;
  text-transform: uppercase;
  background-color:transparent;
  cursor: pointer;
 
  background-color: #4D4D4D;
  background-image: 
    linear-gradient(
      167deg, 
      rgba(white, 0.1) 50%, 
      rgba(black, 0) 55%),
    linear-gradient(
      top, 
      rgba(white, 0.15), 
      rgba(black, 0));
  border-radius: 6px;
  box-shadow:
    0 0 0 1px #4D4D4D inset,
    0 0 0 2px rgba(white, 0.15) inset,
    0 8px 0 0 #AD3002,
    0 8px 0 1px rgba(black, 0.4),
    0 8px 8px 1px rgba(black, 0.5);
  color: #FFF;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  height: 61px
	
}

.contact-form input[type=submit]:hover {
  background-color:#47CC63;
  transition-delay: 0.3s;
}

/*--------------------------------------------*/
/*--------------------------------------------*/

/* Footer Contents   */

footer {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
}

#footer-logo {
	height: 120px;
	margin-right: auto;
	padding: 0px 20px;
}

#footer-logo:hover {
	cursor: pointer;
	transition-delay: 0.7s;
	transform: scale(1.5);
	cursor: pointer;
}

.foot-list {
	border-top: 4px solid #7ED957; 
	margin: 40px ;
	background-color: black;
	height: 200px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-h3 {
	align-content: center;
}

.footer-h3 h3 {
	color: white;
	font-size: 42px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-links li p {
	font-size: 18px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
	







/* Up Button   */


/*--------------------------------------------*/
/*--------------------------------------------*/

/* Media Queries Contents   */

@media 



